.project{
    padding: 100px 150px;
}

.projects2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    
}

.projects1{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 130px;
}

.projects1 .pro-cart-w{
    margin: 50px 60px 0 0;
}

.pro-img img{
    height: 250px;
    width: 250px;
    text-align: center;
    display: flex;
    border-radius: 8px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.pro-img-w img{
    height: 140px;
    width: 280px;
    text-align: center;
    display: flex;
    border-radius: 8px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.pro-cart{
    background-color: #edededb8;
    height: 370px;
    width: 250px;
    padding: 7px;
    border-radius: 8px;
}

.pro-cart-w{
    background-color: #edededb8;
    height: 310px;
    width: 280px;
    padding: 7px;
    border-radius: 8px;
}

.pro-cart p{
    color: black;
    font-size: 12px;
    text-align: justify;
}

.pro-cart h3{
    color: black;
    padding-bottom: 20px;
}

.pro-cart-w p{
    color: black;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: justify;
}

.pro-cart-w h3{
    color: black;
    padding-bottom: 20px;
}

.pro-img img:hover{
    transform: scale(1.05);
}

.pro-img-w img:hover{
    transform: scale(1.05);
}

.repolink {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 550;
}

.repolink:hover{
    font-size: 13px;
}

@media(max-width:768px){
    .project h1{
        font-size: 40px;
    }
    .project{
        padding: 50px 60px;
    }
    .projects1{
        flex-direction: column;
        align-items: center;
    }
    .projects2{
        flex-direction: column;
        gap: 50px;
    }
    .pro-cart{
        width: 300px;
        height: 290px;
    }
    .pro-img img{
        width: 300px;
        height: 300px;
    }
    .pro-cart p{
        font-size: 10px;
    }
    .pro-cart h3{
        font-size: 15px;
    }
}

@media(max-width:1285px){
    .pro-cart{
        width: 250px;
        height: 320px;
    }
    .pro-img img{
        width: 250px;
        height: 250px;
    }
    .pro-cart p{
        font-size: 11px;
    }
    .pro-cart h3{
        font-size: 16px;
    }
}

@media(max-width:1200px){
    .pro-cart{
        width: 180px;
        height: 290px;
    }
    .pro-img img{
        width: 180px;
        height: 180px;
    }
    .pro-cart p{
        font-size: 10px;
    }
    .pro-cart h3{
        font-size: 15px;
    }
}

@media(max-width:1000px){
    .pro-cart{
        width: 160px;
        height: 270px;
    }
    .pro-img img{
        width: 160px;
        height: 160px;
    }
    .pro-cart p{
        font-size: 9px;
    }
    .pro-cart h3{
        font-size: 14px;
    }
}

@media(max-width:900px) and (min-width:768px){
    .pro-cart{
        width: 140px;
        height: 230px;
    }
    .pro-img img{
        width: 140px;
        height: 140px;
    }
    .pro-cart p{
        font-size: 8px;
    }
    .pro-cart h3{
        font-size: 13px;
    }
}