.project{
    padding: 100px 150px;
}

.projects2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    
}

.projects1{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 130px;
}

.projects1 .pro-cart-w{
    margin: 50px 60px 0 60px;
}

.pro-img img{
    height: 250px;
    width: 250px;
    text-align: center;
    display: flex;
    border-radius: 8px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.pro-img-w img{
    height: 140px;
    width: 280px;
    text-align: center;
    display: flex;
    border-radius: 8px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.pro-cart{
    background-color: #edededb8;
    height: 370px;
    width: 250px;
    padding: 7px;
    border-radius: 8px;
}

.pro-cart-w{
    background-color: #edededb8;
    height: 310px;
    width: 280px;
    padding: 7px;
    border-radius: 8px;
}

.pro-cart p{
    color: black;
    font-size: 12px;
    text-align: justify;
}

.pro-cart h3{
    color: black;
    padding-bottom: 20px;
}

.pro-cart-w p{
    color: black;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: justify;
}

.pro-cart-w h3{
    color: black;
    padding-bottom: 20px;
}

.pro-img img:hover{
    transform: scale(1.05);
}

.pro-img-w img:hover{
    transform: scale(1.05);
}

.repolink {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 550;
}

.repolink:hover{
    font-size: 13px;
}



/*XL window*/
@media(max-width:1280px){
    .project{
        padding: 50px;
        margin-bottom: 100px;
    }
    .pro-cart{
        width: 230px;
        height: 350px;
    }
    .pro-img img{
        width: 230px;
        height: 230px;
    }
    .pro-cart , .pro-cart-w p{
        font-size: 11px;
    }
    .pro-cart , .pro-cart-w h3{
        font-size: 16px;
    }
}

/*L window*/
@media(max-width:1103px){
    .projects2{
        flex-direction: row; /* now cards will go side by side */
        flex-wrap: wrap;     /* allow next line */
        justify-content: center; /* center them */
        gap: 40px;
    }
    pro-cart{
        width: 180px;
        height: 290px;
    }
    pro-img img{
        width: 180px;
        height: 180px;
    }
    pro-cart p{
        font-size: 10px;
    }
    pro-cart h3{
        font-size: 15px;
    }
}
/*M window*/
@media(max-width:850px){
    .projects1{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*s window*/
@media(max-width:768px){
    .project h1{
        font-size: 40px;
    }
}

