.skills{
    padding: 100px 350px;
    background-color: black;
}

.skills .title{
    color: white;
}

.skill-secs{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.skill-sec{
    display: flex;
    gap: 10px;
    align-items: center;
}

.skill-sec span{
    height: 6px;
    width: 100%;
    background-color: #6f6f6f;
    border-radius: 50px;
}

.skill-sec hr{
    outline: none;
    border: none;
    height: 6px;
    border-radius: 50px;
    background-color: #7269e3;
    display: flex;
}

.skill-sec p{
    min-width: 140px;
    font-size: 15px;
    color: white;
    display: flex;
}

.logo{
    color: white;
}

.logo1{
    color: black;
}

.skill-sec:hover{
    transform: scale(1.04);
    transition: 0.5s;
}

/*L window*/
@media(max-width:1280px){
    
    .skills{
        padding: 50px 200px;
        justify-content: center;
    }
    .skill-sec span , .skill-sec hr{
        height: 5px;
    }
    .skills p{
        font-size: 12px;
    }
}

/*M window*/
@media(max-width:995px){
    
    .skills{
        padding: 50px 130px;
        justify-content: center;
    }
    .skills h1{
        font-size: 40px;
    }
    .skills p{
        font-size: 10px;
    }
    .skill-sec span , .skill-sec hr{
        height: 4px;
    }
}

/*S window*/
@media(max-width:650px){
    .skills{
        padding: 50px 50px;
        justify-content: center;
    }
}

/*XS window*/
@media(max-width:400px){
    .skill-sec{
        padding: 50px 60px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

}