.home{
    background-color: black;
    color: white;
    display: flex;
    padding: 140px 130px;
    align-items: center;
    justify-content: space-between;
}

.pro-content h2{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 25px;
}
.pro-content h1{
    font-size: 60px;
}

.pro-content p{
    font-size: 10px;
    margin-bottom: 30px;
    max-width: 90%;
}

.pro-pic img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.button{
    height: 35px;
    width: 125px;
    border-radius: 8px;
    font-size: 13px;
    background-color: #7269e3;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cv{
    text-decoration: none;
    color: white;
    transition: 0.5ms;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.05); 
}

.s-icon{
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    color: white;
}

.icon-link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.icon-link:hover{
    color: #7269e3;
    border: solid #7269e3;
    transform: scale(1.001);
}

@media(max-width:1280px){
    .pro-content h1{
        font-size: 50px;
    }
    .pro-content h2{
        font-size: 20px;
    }
    .pro-content p{
        font-size: 9px;
    }
    .pro-pic img{
        height: 300px;
        width: 300px;
    }
    .icon-link{
        height: 20px;
        width: 20px;
    }
    .button{
        height: 30px;
        width: 120px;
        font-size: 12px;
    }
}

@media(max-width:1110px){
    .pro-content h1{
        font-size: 45px;
    }
    .pro-content h2{
        font-size: 17px;
    }
    .pro-content p{
        font-size: 9px;
    }
    .pro-pic img{
        height: 280px;
        width: 280px;
    }
    .icon-link{
        height: 19px;
        width: 19px;
    }
    .button{
        height: 29px;
        width: 117px;
        font-size: 11px;
    }
}

@media(max-width:960px){
    .pro-pic img{
        height: 250px;
        width: 250px;
    }
}

@media(max-width:850px){
    .pro-content h1{
        font-size: 40px;
    }
    .pro-content h2{
        font-size: 16px;
    }
    .pro-content p{
        font-size: 9px;
    }
    .pro-pic img{
        height: 200px;
        width: 200px;
    }
    .icon-link{
        height: 18px;
        width: 18px;
    }
    .button{
        height: 27px;
        width: 114px;
        font-size: 10px;
    }
}

@media(max-width:780px){
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pro-pic img{
        display: none;
    }

    .pro-content p{
        text-align: justify;
    }

    .pro-content h1{
        font-size: 40px;
    }

    .pro-content h2{
        font-size: 20px;
    }
    
}