.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 1px solid rgb(36, 35, 35);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 80px;
    font-size: 15px;
}

.nav-menu .anc-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 100ms;
}

.nav-menu .anc-link:hover{
    color: #7269e3;
}

.nav-menu li img{
    height: 5px;
    width: auto;
    display: flex;margin: auto;
    
}

.anc-link.active {
    color: #7269e3;
    font-weight: bold;
  }

navmob-menu-close{
    display: none;
}

#nav-active{
    display: none;
}

.nav-i-open , .nav-i-close{
    display: none;
}

@media(max-width:780px){
    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 150px;
        background-color: rgb(24, 24, 24);
        height: 100%;
        padding: 40px;
        gap: 40px;
        font-size: 13px;
        transition: 0.5s ease-out;
    }
    .nav-i-open , .nav-i-close{
        display: block;
        cursor: pointer;
    }
    #nav-active:checked ~ .nav-menu{
        right: 0;
    }
    .navmob-menu-open{
        padding-left: 350px;
    }
}
