.footer{
    padding: 75px 450px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(36, 35, 35);
    font-size: 14px;
    
}

.f-icon{
    color: white;
    display: flex;
    gap: 20px;
}

.f-icon a{
    color: white;
    cursor: pointer;
    text-align: center;
}

.footer li{
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.footer li .anc-link{
    color: white;
    display: flex;
    text-decoration: none;
}

.email-link{
    cursor: pointer;
    text-decoration: none;
    color: white;
}